<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enshire.techutils.profiler" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.enshire.techutils.profiler.logic.Tabs"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.enshire.techutils.profiler.helperclasses.WifiBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.enshire.techutils.profiler.logic.ProfileSelection"
            android:label="@string/title_activity_profile_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.enshire.techutils.profiler.logic.HelpWebView"
            android:label="@string/title_activity_help_web_view"
            android:parentActivityName="com.enshire.techutils.profiler.logic.Tabs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enshire.techutils.profiler.logic.Tabs" />
        </activity>
    </application>

</manifest>
